* {
    main-bg:            #0e1320e6;
    main-fg:            #c2c4c7ff;
    main-br:            #DF6374ff;
    main-ex:            #A55685ff;
    select-bg:          #DF6374ff;
    select-fg:          #0e1320ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
