* {
    main-bg:            #0a1019e6;
    main-fg:            #c1c3c5ff;
    main-br:            #455C71ff;
    main-ex:            #086498ff;
    select-bg:          #455C71ff;
    select-fg:          #0a1019ff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
